html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 20px;
    /* bottom = footer height */
    padding: 25px;
}
footer {
    background-color: silver;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow:hidden;
}