#flag,#flag1{
    display: none;
}
label.lc{
    padding: 10px;
    background: #aaa;
}
#d,#ds{
    display: none;
}
#flag:checked ~ #d,#flag1:checked ~ #ds{
    display:block;
}
.lbl,#bc{
    display: inline-block;
    padding: 10px;
    background: #ffffff;
    border: solid black 1px;
    border-radius: 10px;
}
#tl{
    margin-left: -3%;
    z-index: 1000;
    position: absolute;
}
#f1{
    text-align: center;
    width: 100%;
    border: 2px solid #afa;
}
#f2{
    height: 20px;
    font-size: 0px;
    text-align: start;
    color: #aaffaa;
    width: 73%;
    background-color: #aaffaa;
}
#p{
    width: 50%;
}
#x1{
    float: right;

}
#x{
    font-family: Arial;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}
#ds{
    margin: 5px;
    padding: 0px 3px 0px 3px;
    width: 30%;
    height: 30%;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
}
#bc{
    display: block;
    text-align: center;
    padding-right: 10px;
}
h3{
    margin-left: 20px;
}
#d5{
    padding:0 10px;
}

.switch {
    display: inline-block;
}

.switch [type="checkbox"] {
    display: none;
}

.switch span {
    display: block;
    padding: 10px;
    border: 2px solid #00f;
    border-radius: 10px;
    color: #00f;
}

.switch :checked~span {
    color: #fff;
    background-color: #00f;
}
#x1{
    margin-bottom: 10px;
}